.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.submit {
  margin: 20px;
}

.tile.is-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 375px;
}

.tile.is-ancestor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}

.reactions {
  margin-top: 5px;
 }

.reactions .reactions-counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }

 .reactions .emoji-mart {
  z-index: 999;
 }

 .reactions .emoji-mart-anchors {
  display: none;
 }

 .reactions .emoji-mart-search {
  display: none;
 }

 .reactions .emoji-mart-bar {
  display: none;
 }

 .reactions .emoji-mart-scroll {
  overflow: auto;
  height: auto;
 }
 
 .reactions .emoji-mart-category-label {
  display: none;
 }

 .navbar {
  background-color:#DCE0E0!important;
 }

 .navbar-brand {
  font-family: 'Times New Roman', Times, serif!important;
 }

 .location {
   font-size: 30px;
 }

 .currentOutlook {
   font-size: 20px;
 }
